@import "tailwindcss";

:root {
  --deep-twilight: #191868ff; /*background*/
  --deep-navy: #0C1342ff;  /*borders*/
  --slate-grey: #6F7290ff;  /*passive link*/
  --deep-twilight-2: #13125Aff;  /*section backgorund*/
  --deep-navy-2: #06053Bff;  /*borders*/
  --lavender-grey: #8E8CC1ff; /*active link*/
  --cream: #FFFECB;  /*texts*/
  --procelain: #FFFFFA; /*texts*/
  --true-cobalt: #211F86ff; /*section backgorund*/

  /*HSL if needed
  --deep-twilight: hsla(241, 63%, 25%, 1);
  --deep-navy: hsla(232, 69%, 15%, 1);
  --slate-grey: hsla(235, 13%, 50%, 1);
  --deep-twilight-2: hsla(241, 67%, 21%, 1);
  --deep-navy-2: hsla(241, 84%, 13%, 1);
  --lavender-grey: hsla(242, 30%, 65%, 1);
  --prussian-blue: hsla(240, 74%, 9%, 1);
  --true-cobalt: hsla(241, 62%, 32%, 1);
  */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: serif, sans-serif;
  overflow: hidden;
}
